{% extends "components/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 px-md-4 main-content">
        <!-- Mensajes de error del formulario -->
        {% include 'includes/message_error_form.html' %}
        
        <!-- Formulario de tipo de examen -->
        <form method="post" class="py-4">
            {% csrf_token %}
            <div class="card shadow p-4">
                <h3 class="text-primary mb-4 fw-bold">{{ title1 }}</h3>
                <div class="row g-0">
                    <!-- Sección de Categoría de Examen -->
                    <div class="col-lg-12 px-2">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.categoria_examen.id_for_label }}" class="form-label fw-bold">{{ form.categoria_examen.label }}</label>
                                {{ form.categoria_examen }}
                                {{ form.categoria_examen.errors }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.nombre.id_for_label }}" class="form-label fw-bold">{{ form.nombre.label }}</label>
                                {{ form.nombre }}
                                {{ form.nombre.errors }}
                            </div>
                        </div>

                        <!-- Sección de Descripción y Valores -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.descripcion.id_for_label }}" class="form-label fw-bold">{{ form.descripcion.label }}</label>
                                {{ form.descripcion }}
                                {{ form.descripcion.errors }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.valor_minimo.id_for_label }}" class="form-label fw-bold">{{ form.valor_minimo.label }}</label>
                                {{ form.valor_minimo }}
                                {{ form.valor_minimo.errors }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.valor_maximo.id_for_label }}" class="form-label fw-bold">{{ form.valor_maximo.label }}</label>
                                {{ form.valor_maximo }}
                                {{ form.valor_maximo.errors }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.activo.id_for_label }}" class="form-label fw-bold">{{ form.activo.label }}</label>
                                {{ form.activo }}
                                {{ form.activo.errors }}
                            </div>
                        </div>

                        <!-- Botones de acción -->
                        <div class="d-flex justify-content-end mt-4">
                            <button class="btn btn-outline-success me-2" type="submit">{{ grabar }}</button>
                            <a class="btn btn-outline-warning" href="{{ back_url }}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
