{% extends "components/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 px-md-4 main-content">
        <!-- Mensajes de error del formulario -->
        {% include 'includes/message_error_form.html' %}
        
        <!-- Formulario de cita médica -->
        <form method="post" class="py-4">
            {% csrf_token %}
            <div class="card shadow p-4">
                <h3 class="text-primary mb-4 fw-bold">{{ title1 }}</h3>
                <div class="row g-0">
                    <!-- Sección de paciente, fecha y hora de la cita -->
                    <div class="col-lg-12 px-2">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.paciente.id_for_label }}" class="form-label fw-bold">{{ form.paciente.label }}</label>
                                {{ form.paciente }}
                                {{ form.paciente.errors }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="{{ form.fecha.id_for_label }}" class="form-label fw-bold">{{ form.fecha.label }}</label>
                                {{ form.fecha }}
                                {{ form.fecha.errors }}
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="{{ form.hora_cita.id_for_label }}" class="form-label fw-bold">{{ form.hora_cita.label }}</label>
                                {{ form.hora_cita }}
                                {{ form.hora_cita.errors }}
                            </div>
                        </div>
                        <!-- Sección de estado de la cita -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.estado.id_for_label }}" class="form-label fw-bold">{{ form.estado.label }}</label>
                                {{ form.estado }}
                                {{ form.estado.errors }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <button class="btn btn-outline-success me-2" type="submit">{{ grabar }}</button>
                            <a class="btn btn-outline-warning" href="{{ back_url }}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
